$extra-dark: #161616;
$darkest: #1d1d1e;
$darker: #333333;
$dark: #545454;
$font: #adadad;
$font-selected: #c1c1c1;
$dimmed-font-color: #474747;
$highlight: #aaaaaa;
$border-dimmed: #474747;

$active: #086ce7;
$success: #3caea3;
$warning: #f6d55c;
$error: #ed553b;

$default-border-radius: 2px;
