$extra-dark:#161616;
$darkest: #222222;
$darker: #333333;
$dark: #545454;
$font:  rgba(219, 219, 219, 0.75);
$font-selected: #c1c1c1;
$dimmed-font-color: rgba(219, 219, 219, 0.25);
$highlight: #aaaaaa;
$border-dimmed:#474747;
$primary: #88715a;
$secondary: #4a3928;

$active: #1473e6;
$success: #3caea3;
$warning: #f6d55c;
$error: #ed553b;

$default-border-radius:2px 